.form_block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main_blocks{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ingredient-modal{
    height: auto;
}

.order-modal{
    height: 720px;
}

.error-modal{
    height: 720px;
}

.link{
    color: #4c4cff;
    text-decoration: none;
    cursor: pointer;
}

.link:hover{
    color: #4c4cff;
    text-decoration: underline;
}

.block1{
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 400px;
    margin-top: 100px;
}

.block2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 400px;
    height: 400px;
    margin-top: 100px;
    margin-right: 400px;
}

.main-block{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-link {
    cursor: pointer;
    font-size: 22px;
    color: #8585AD;
    text-decoration: none;
}

.menu-link:hover{
    color: #ffffff;
    text-decoration: underline;
}

.block1 div span{
    font-size: 22px;
    color: #ffffff;
}

.block1 div span.menu-link{
    color: #8585AD;
}

.block1 div span.menu-link:hover{
    color: #ffffff;
}
