.feed-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 600px;
    height: 700px;
    margin-top: 100px;
    border: 1px solid red;
}

.main-block{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bun{
    margin-left: 28px;
}

.group{
    max-height: 442px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 10px;
    gap: 10px;
}

.group div:before{

}

.group::-webkit-scrollbar {
    width: 12px;
}
.group::-webkit-scrollbar-track {
    background: #2F2F37;
}
.group::-webkit-scrollbar-thumb {
    background: #8585AD;
    border: 0 solid #2F2F37;
    border-radius: 0;
}

.sum{
    margin-top: 40px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.px40{ width: 40px}

:global(.constructor-element){
    width:488px !important;
}

:global(.svg_large svg){
    width:48px !important;
    height: 48px !important;
}

:global(.empty_constructor){
    width:100%;
    margin-top:16px;
    text-align:center;
}
