.ingredient-image{
    width:480px;
    height:240px;
    margin: 0  auto;
}

.details{
    width: 640px;
    text-align: left;
}

ul.ingredient-details li{
    list-style-type: none;
    display: inline-block;
    padding: 0px 20px;
}
