.feed-list {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 800px;
    overflow: auto;
    margin-right: 40px;
    border: 1px solid red;
}

.feed-list-title {
    background: #131316;
    color: #F2F2F3;
}

.feed-list-selector {
    /* Auto Layout */
    display: flex;
    align-items: flex-start;
    padding: 0px 0px 40px;
}

.feed-list-selector > div {
}

.feed-list-group-container {
    overflow: auto;
}

.feed-list-group-container::-webkit-scrollbar {
    width: 12px;
}
.feed-list-group-container::-webkit-scrollbar-track {
    background: #2F2F37;
}
.feed-list-group-container::-webkit-scrollbar-thumb {
    background: #8585AD;
    border: 0px solid #2F2F37;
    border-radius: 0px;
}

h3{
    margin-top: 0;
}
