header {
}

header .container {
    background-color: #1C1C21;
    height: 88px;

}
nav {
    max-width: 1280px;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_item a{
    color: #8585ad;
    align-items: center;
    display: flex;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 20px 20px 21px;
    cursor: pointer;
}

.menu_item a:link, .menu_item a:visited, .menu_item a:active{
    text-decoration: none;
}

.menu_item a:hover{
    color: #ffffff;
}

.active {
    color: #ffffff !important;
}

.inactive {
}

.topdiv {
    width: 33%;
    display: flex;
    justify-content: flex-start;
}


.topdiv:nth-child(2) {
    justify-content: center;
}

.topdiv:nth-child(3) {
    justify-content: flex-end;
}

